* { box-sizing: border-box; }

.slick-slider {
  width: 100%;
  background-color: transparent;
  margin-left: -30px;
}
.slick-track {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.slick-slide{
  float: none;
  vertical-align: middle;
  position: relative;
  transition: all 0.3s ease;
  height: auto;
  transform: scale(0.6);
  text-align: center;
  display: flex;
}
.slick-current,
.slick-center {
  justify-self: center;
  align-self: center;
  z-index: 100;
  margin: 0 -70px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.slick-prev,
.slick-next {
  z-index: 100;  
  top: 0px;
}
.slick-prev {
  left: 10px;
  margin-left: 50px;
}
.slick-next {
  right: 10px;
}

.slick-slider .slick-slide.slick-current, .slick-slider .slick-slide.slick-center {
  transform:scale(0.85);
}